<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Simple {{ game }} is a in-browser recreation of traditional Italian card game {{ gameEng }}. Now available both for desktop and mobile devices!">
    <meta name="keywords" content="Simple Briscola Tresette Italian card game friends traditional Triestine phone">
    <meta name="theme-color" content="#5e1b1b">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ game }}-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ game }}-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ game }}-favicon-16x16.png">
    <link rel="manifest" href="manifest.json" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

    <link href="https://kit.fontawesome.com/" rel="preconnect dns-prefetch">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Trade+Winds&display=swap" rel="stylesheet"> 
    <title>Simple {{ game }}</title>
</head>

<body>
    <div id="root"></div>
    <noscript>
        <div>This page requires JavaScript to run.</div>
        <div>Please enable JavaScript in your browser settings and reload the page.</div>
    </noscript>
    <script src="https://kit.fontawesome.com/c62faf7190.js" crossorigin="anonymous"></script>
    <script type="module" src="./main.tsx"></script>
</body>

</html>