/* 
    BASIC ROOT HTML ELEMENT STYLING
*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg);
    font-size: 14px;
    overflow: hidden;
}

noscript {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

body {
    margin: 0;
    height: 100vh;
}

#root {
    position: relative;
    height: 100%;
}

#App {
    height: 100%;
}

/* 
    GENERAL ELEMENT STYLING
*/

* {
    font-family: Comic Sans MS, Comic Neue, cursive;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    display: inline !important;
}

/* 
    INPUT AND BUTTON FIXES
*/

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

input[disabled], button[disabled] {
    cursor: not-allowed;
}

input[disabled] {
    color: initial;
}

/* input[disabled], select[disabled], button:disabled {
    color: initial;
} */

/*
    MOBILE SETTINGS
*/

@media only screen and (max-width: 720px) {
    html {
        font-size: 9px;
    }

    .nomobile {
        display: none;
    }
}
