.Title {
    color: rgb(224, 212, 212);
    display: flex;
    flex-flow: column;
    animation: anim 1.4s ease-in infinite alternate;
}

.Title > * {
    font-family: Trade Winds, cursive !important;
}

.noanim {
    animation-name: none;
}

@keyframes anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

.aboveText {
    position: absolute;
    margin-left: 5.85rem;
    margin-top: 1.3rem;
    font-size: 1.3rem;
}

.titleMain {
    display: flex;
    flex-flow: column;
    font-size: 6.5rem;
    margin: 0;
}
