.Game {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.opponents {
    position: absolute;
    display: flex;
    width: 70%;
    height: 30vh;
    top: 0;
    margin-top: 10vh;
    justify-content: space-around;
}

.title {
    font-size: 2em;
}

.n {
    color: #ffce74;
}

.b {
    margin: 1em;
}
