.appear {
    opacity: 0;
    transform: translateY(-50rem);
}

.appearActive {
    opacity: 1;
    transform: translateX(0rem);
    transition-timing-function: ease-out;
    transition: 1000ms;
}
