.JoinMenu {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    /* background-blend-mode: screen, difference, lighten; */
}

.modes {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

.modes > h1 {
    color: white;
}

.verticalBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.fillerBox {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.background {
    width: 100%;
    height: 100%;
}

.JoinMenu, .JoinMenu * {
    display: flex;
}

.slots {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.gameStart {
    position: absolute;
    height: 5rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    background-color: rgb(105, 105, 105);
    font-size: 1.4rem;
    transition: 100ms;
}

.buttons {
    flex-flow: row;
}

.buttons > * {
    margin: 1rem;
}

.extra {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
    height: 4rem;
    color: white;
    font-size: 1.4rem;
}

.vert {
    flex-flow: column;
}

.PopupOverlay {
    font-size: 1.3rem;
}

.PopupOverlay > * {
    margin: 0.4em;
}

.title {
    font-size: 2em;
}

.overlayBtns > * {
    margin: 1em 2em;
}

.phoneNotif, .gameNotif {
    position: absolute;
    left: 0;
}

.phoneNotif {
    bottom: 3.6rem;
}

.gameNotif {
    bottom: 7.2rem;
}

.t:before {
    font-family: Trade Winds, cursive;
    content: "T";
}

.column {
    display: flex;
    flex-flow: column;
    margin: 0.5em 1em;
}

.pointer {
    cursor: pointer;
}
