.Card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ratio is 1:1.85 */
    --unit: 10em;
    width: var(--unit);
    height: calc(1.85 * var(--unit));
    user-select: none;
}

.CardPhone {
    --unit: 8em;
}

.CardDisplay, .fallback, .blockSign {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    color: white;
    border-radius: 0.5em;
    transition: 500ms;
    user-select: none;
}


.CardHover {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
}

.blockSign {
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.4em;
    border-radius: 0.69em;
    z-index: 1;
}

.blockSign > i {
    font-size: 2em;
}

.fallback {
    background-color: rgb(221, 58, 17);
    border: 1px rgb(255, 238, 0) solid;
}

.na {
    cursor: not-allowed;
}
