.Header {
    display: flex;
    position: absolute;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 3.6rem;
    top: 0;
    color: darkgrey;
}
.Header > * {
    margin-left: 1rem;
}

.balota {
    width: 1rem;
    height: 1rem;
    border: 4px solid #4b4b4b;
    background-color: darkgray;
    border-radius: 100%;
}
