.Footer {
    position: absolute;
    flex: 1;
    width: 100%;
    height: 3.6rem;
    bottom: 0;
}

.Footer, .Footer * {
    display: flex;
}

.innerContainer {
    flex: 1;
    align-items: center;
    justify-content: left;
    color: white;
}

.icon {
    color: white;
    font-size: 1.7em;
    transition: 0.15s;
    cursor: pointer;
    margin: 0 1.2rem;
    text-decoration: none;
}

.icon:hover {
    color: rgb(170, 170, 170);
    transition: 0.2s;
}

.creator {
    flex: 1;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1em;
}

.bubble {
    flex-flow: column;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.8em;
    margin: 0 0 1em 1em;
}

.bubble * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    justify-content: center;
}

.discordName {
    font-weight: bold;
}

.copy {
    font-size: 0.9em;
}
