.PhoneCheck {
    margin-bottom: 10%;
}

p {
    white-space: pre-wrap;
}

.yellow, .PhoneCheck span {
    color: #e6d891;
}

.PhoneCheck span {
    display: contents !important;
}

.button {
    font-size: 0.6em;
}
