.EndgameScreen {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.EndgameScreen > * {
    color: white;
    margin: 0.25em;
}

.em2 {
    font-size: 2em;
}

.em3 {
    font-size: 3em;
}

.em4 {
    font-size: 4em;
}

.buttons {
    display: flex;
    flex-flow: row;
    margin: 1em;
}

.buttons > * ~ * {
    margin-left: 10%;
}

.reconn {
    font-size: 2em;
    height: 2em;
    padding: 0.5em;
    opacity: 0;
}
