.leftEnter {
    transform: translateX(-100%);
    border-right: 5px yellow solid;
}

.rightEnter {
    transform: translateX(100%);
    border-left: 5px yellow solid;
}

.leftEnterActive, .leftEnterDone {
    transform: translateX(0);
    border-right: 0px yellow solid;
}

.rightEnterActive, .rightEnterDone {
    transform: translateX(0);
    border-left: 0px yellow solid;
}

.enterActive {
    transform: translateX(0);
}

.exit {
    transform: translateX(0);
}

.leftExitActive {
    transform: translateX(-100%);
}

.rightExitActive {
    transform: translateX(100%);
}
