.CurtainOverlay {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-flow: row;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.left, .right {
    position: absolute;
    transition-timing-function: ease;
    /* transition-timing-function: cubic-bezier(0.51, 1.8, 0.09, 0.61); */
    display: flex;
    background-color: orange;
    width: 50%;
    height: 100%;
}

.left {
    border-right: 5px yellow solid;
}

.right {
    border-left: 5px yellow solid;
    right: 0;
}

.static {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
