.Button {
    display: flex;
    width: 13em;
    height: 5em;
    transition: 200ms;
    font-size: 1rem; /* props can override this */
}

.actualButton {
    display: flex;
    flex: 1;
    width: 100%;
    color: white;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 1rem;
    border: rgb(233, 229, 13) 3px solid;
    transition: 200ms;
    justify-content: center;
    transition-property: border, color, background-color;
}

.actualButton:hover {
    color: black;
    background-color: rgb(233, 229, 13);
    border: transparent 3px solid;
    transition: 300ms;
}

.actualButton:focus {
    border-color: #bdc908;
}

.medium {
    width: 13em;
    height: 5em;
}

.medium > .actualButton {
    font-size: 1.7em;
}

.smalltext > .actualButton {
    font-size: 1.3em;
}

.small {
    width: 9em;
    height: 3em;
}

.small > .actualButton {
    font-size: 1.3em;
}
