.PopupMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    height: unset;
    min-width: 35%;
    min-height: 35%;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 2px 2px rgb(20, 20, 20);
    border-radius: 0.2em;
    padding: 1em;
}
