.Chat {
    display: flex;
    flex: 1;
    height: 100%;
    flex-flow: column;
}

.Chat * {
    color: white;
}

.history {
    display: flex;
    flex: 1;
    flex-flow: column;
    background-color: rgb(0, 0, 0, 0.3);
    overflow: auto;
}

.inputContainer {
    display: flex;
    height: 3rem;
}

.input {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 1.2rem;
    text-indent: 1.5rem;
    padding: 0;
    border: 0;
}

.entry {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

.entry:first-child {
    margin-top: auto;
}

.playerName {
    display: flex;
    margin-left: 1.5rem;
}

.message {
    display: flex;
    flex: 1;
    margin-left: 0.5em;
}
