.FAQ {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
    --xpad: 2em;
    padding: 1em var(--xpad);
    color: white;
    width: 22vw;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.FAQ > span {
    display: flex;
    align-items: center;
}

.butt {
    margin: 0 2em;
}

.FAQ > div {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
    width: 100%;
    height: 100%;
    transition: 500ms;
}

.FAQ h2 {
    margin: 0;
}

.FAQ h3 {
    margin: 0.6em 0 0.2em 0;
}

.FAQ p {
    margin: 0em;
    /* override display flex */
    display: block;
}
