.InputField {
    display: flex;
    flex-flow: column;
    color: #c8cfd3;
    margin: 3%;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.3rem;
    margin: 0 3em;
}

.username {
    display: flex;
    width: 100%;
    height: 3.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    background-color: #c8cfd3;
    border-radius: 10px;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
}
