.status {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.PlayerSlot {
    display: flex;
    flex-flow: column;
    width: 12rem;
    height: 12rem;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-right: 4px solid #4d4d4d;
    border-bottom: 4px solid #4d4d4d;
    transition: 180ms;
}

.PlayerSlot:hover {
    background-color: #4d4d4d;
    color: #c8c8c8;
    transition: 100ms;
    cursor: pointer;

}

.PlayerSlot + .PlayerSlot {
    margin-left: 5rem;
}
