.GameStartOverlay {
    color: white;
    font-weight: bold;
}

.v, .s {
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-size: 4em;
}

.v {
    right: 0;
}

.s {
    left: 0;
}

.me, .opponent {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: min-content;
    font-size: 5em;
}

.me {
    top: 30%;
}

.opponent {
    bottom: 30%;
}
