.GameStats {
    position: absolute;
    z-index: 10;
    left: 0;
    display: flex;
    flex-flow: column;
    width: 35%;
    height: 60%;
    color: white;
    font-size: 2em;
}

.margin {
    margin: 5%;
}

.mode, .names {
    font-size: 1em;
}

.winStatus, .identifier {
    display: flex;
    width: 30%;
    margin-top: auto;
    background-color: var(--lighter);
    border: solid yellow 2px;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
    align-items: center;
    justify-content: center;
    transform-origin: left;
    padding: 1rem;
}

.time {
    font-size: 1em;
    margin: 1em 0;
}

.myTurn {
    color: white;
    transform: scale(1);
    transition: 200ms;
}

.notMyTurn {
    color: grey;
    transform: scale(0.5);
    background-color: var(--darker);
    border: solid #afaf00 2px;
    transition: 500ms;
}

.allAppear, .winEnter, .winExitActive {
    transform: translateX(-100%);
    transition: 500ms;
}

.allAppearActive, .winEnterActive {
    transform: translateX(0);
    transition: 500ms;
}
