.exitActive > * {
    transform: rotateX(60deg) rotateY(0deg) translateY(50rem);
    transition: 800ms;
    transition-timing-function: ease-in;
    opacity: 0;
}

.appear > * {
    transform: rotateX(60deg) rotateY(0deg) translateX(50rem);
}

.appearActive > * {
    transform: rotateX(60deg) rotateY(0deg) translateX(0rem);
    transition: 800ms;
}

.appearDone {
    color: blue;
}
