.Card, .CardGoUp, .CardGoDown, .briskulaCard {
    position: absolute;
    perspective: 1000px;
    perspective-origin: -150% 100%;
}

.Card > * {
    position: absolute;
    transform: rotateX(60deg) rotateY(0deg);
}

.CardGoUp > * {
    position: absolute;
    transform: rotateX(60deg) rotateY(0deg) translateY(-10rem);
    opacity: 0;
}

.CardGoDown > * {
    position: absolute;
    transform: rotateX(60deg) rotateY(0deg) translateY(-10rem);
    opacity: 0;
}

.briskulaCard > * {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-90deg) translateY(-50%);
    transition: 500ms all ease-in-out;
}

.briskulaCardHover:hover ~ * {
    transform: rotateX(0deg) translateX(-20rem) translateY(-5rem) scale(1.4);
    transition: 500ms;
}

.briskulaAppear {
    transform: translateX(400%);
}

.briskulaAppearActive {
    transform: translate(0);
}
