.stats {
    position: absolute;
    display: flex;
    bottom: 0;
    margin-bottom: 10%;
    margin-left: 10%;
    flex-flow: column;
    color: rgb(160, 160, 160);
}

.type {
    font-size: 2em;
}

.mode {
    font-size: 1.5em;
}
