.Table {
    position: absolute;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 30%;
    top: 50%;
    justify-content: center;
}

.TablePhone {
    top: 35%;
}

.cards {
    flex: 1;
}

.tableCards {
    display: flex;
    flex: 4;
    width: 30%;
    height: 100%;
    margin-left: 3%;
}

.tableCards > div {
    display: flex;
    flex-flow: row;
    flex: 1;
    padding: 0 15% 0 35%;
}

.evenCard {
    perspective: 1000px;
    perspective-origin: 50% 100%;
}

.evenCard > * {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(10deg);
    transition: 500ms;
}

.oddCard {
    perspective: 1000px;
    perspective-origin: 50% 100%;
}

.oddCard > * {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-10deg);
    transition: 500ms;
}

