.PopupOverlay {
    position: absolute;
    z-index: 90;
    color: white;
    font-size: 2em;
}

.PopupOverlay, .PopupOverlayInner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 500ms;
}

.PopupOverlayInner {
    transform: scale(0);
}

.PopupOverlay p {
    margin: 0.75em 0;
}

.PopupOverlayInner > *{
    display: flex;
}
