.IconNotif {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
}

.icon {
    animation: shake 5s ease-in infinite;
    margin: 1.2rem;
    cursor: pointer;
    z-index: 1;
}

@keyframes shake {
    0%, 90%, 100% {
        transform: rotate(0deg);
        scale: 1;
        color: inherit;
    }
    92%, 96% { transform: rotate(30deg); }
    94%, 98% { transform: rotate(-30deg); }
    94% {
        scale: 1.3;
        color: #e6d891;
    }
}

.text {
    transition: 500ms;
    font-size: 0.6em;
    white-space: pre;
}

.hide {
    opacity: 0;
    transform: translate(-100%);
}

.show {
    opacity: 1;
    transform: translate(0);
}
