.Checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}

.label {
    color: white;
    font-size: 1.5rem;
    margin: 0 1rem;
    user-select: none;
}

input[type='checkbox'] {
    /* -webkit-appearance: none; */
    width: 1.8rem;
    height: 1.8rem;
    /* background: white; */
    border-radius: 1rem;
    border: 2px solid #555;
    justify-self: bottom;
}
input[type='checkbox']:checked {
    /* background: #abd; */
}