.Opponent {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fan {
    z-index: -1;
}

.Card {
    position: absolute;
}

.round {
    position: absolute;
    bottom: 0;
    background-color: orangered;
    border: 2px silver solid;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.round > div {
    color: white;
    font-size: 1.8rem;
    margin: 2rem;
}

.transAppear, .transEnter {
    transform: scale(0.75) translateY(50rem);
    opacity: 0;
}

.plInfo {
    height: 20%;
    padding-top: 2em;
}

.teammate, .opponent {
    font-size: 1.5em;
    color: #ffce74;
    font-weight: bold;
}

.teamopp {
    color: white;
}

.lastCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    color: #ffce74;
    font-size: 2em;
    transition: 500ms;
}

.lastCardCard {
    font-size: 0.5em;
}
