.appear, .enter {
    transform: translateY(50rem);
}

.appearActive, .enterActive {
    transform: translate(0rem);
    transition: 800ms;
    transition-timing-function: ease-in;
}

.exitActive {
    transform: translateY(-15rem);
    transition: 300ms;
    opacity: 0;
    transition-timing-function: ease-in;
}
