.Hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    bottom: 0;
}

.cardContainer {
    position: relative;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 0%;
}

.cardContainer > * {
    transform: translateY(-15vh);
    height: 15vh;
    margin: 0 2em;
}

.tresetaPhone > * {
    margin: 0.2em;
}

.Card {
    cursor: pointer;
}

.CardHover ~ * {
    transition: 200ms;
}

.CardHover:hover ~ * {
    transform: translateY(-6rem);
    transition: 200ms;
}

.selected > *:last-child {
    border: darkcyan 4px solid;
}

.red {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 5;
    width: 12%;
    height: 25%;
    right: 0;
    margin-right: 15%;
}

.red > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: orange;
}

.teammate {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    right: 1em;
    font-size: 1.5em;
    color: white;
}
