.Timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    position: absolute;
}

svg {
    transform: rotateY(-180deg) rotateZ(-90deg);
}
  
svg circle {
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: 0px;
    stroke: white;
    fill: none;
    transitionDelay: 50ms;
}

.anim {
    animation: countdown linear forwards;
}
  
@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: var(--circumference);
    }
}