.CookieBanner {
    position: absolute;
    width: 42%;
    color: white;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 300ms;
}

.CookieBannerPhone {
    width: 100%;
    background-color: rgb(var(--bgr), var(--bgg), var(--bgb));
    box-shadow: -1px 4px 4px 5px #656565;
    font-size: 1.5em;
}

.CookieBanner > * {
    display: flex;
    margin: 2% 2%;
}
